.search-content-images-container{
    margin-top: 2rem;
}
.search-content-title-margin{
    margin-top: 4rem;
}
.search-location-images{
    width: 47%;
    display: inline-block;
    position: relative;
    background-size: cover;
}
.search-location-images:before {
	content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.search-location-images-bottom{
    margin-top: 1rem;
}
.search-location-images-not-left{
    margin-left: 6%;
}
.search-location-images-title{
    bottom: 0;
    left: 0%;
    padding-left: 0.5rem;
    width: 100%;
    position: absolute;
    background: linear-gradient(
        0deg,rgba(0,0,0,0.6) 0,rgba(0,0,0,0.6) calc(100% - 32px),rgba(0,0,0,0)
    );

}
.search-location-images-title h4{
    font-weight: bold;
    color: #ffffff;
}
.search-location-images-new-york-city{
    background-image: url('../../../assets/images/location-assets-1.jpeg');
}
.search-location-images-singapore{
    background-image: url('../../../assets/images/location-assets-2.jpeg');
}
.search-location-images-rome{
    background-image: url('../../../assets/images/location-assets-3.jpeg');
}
.search-location-images-paris{
    background-image: url('../../../assets/images/location-assets-4.jpeg');
}