ion-header{
    padding: 2rem 0rem;
}
ion-header ion-title{
    font-weight: bold;
    font-size: 30px;
}
.header-ios{
    padding-bottom: 1rem;
}
.explore-ion-header{
    background-color: var(--ion-color-explore-background);
}
.explore-ion-header-icons{
    font-size: 35px;
    
    position: absolute;
    
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.header-md::after{
    background-image: none;
}
.ios .explore-header-button-container{
    padding-top: 1rem;
}