/* Search Header */
.search-container{
    padding: 0rem 1.0rem 1.0rem 1.0rem;
}
.ios .search-container{
    padding: 1.5rem;
}
.search-form{
    border: 2px solid var(--ion-color-search-border);
    background-color: var(--ion-color-search-form);
    color: #757575;

    padding: 1rem;
    border-radius: 10rem;
}
.search-icons{
    vertical-align: middle;
    margin-right: 0.3rem;

    color: var(--ion-color-search-button);
}
/* Search Nearby Box */
.search-box-nearby{
    margin-top: 2rem;
    background-color: #004F32;

    padding: 2rem;
}
.search-box-nearby-content{
    margin: auto;
    text-align: center;
    
    color: #ffffff;
}
.search-box-nearby-content h1{
    margin: 0;
    font-weight: bold;
}
.search-box-location-settings{
    border: 1px solid #E0E0E0;
    padding: 1rem;
    margin-top: 2rem;    

    border-radius: 10rem;
}
/* Search Content */
.search-content-title{
    font-weight: bold;
}