/* Header */
.explore-header{
    background-image: url('../../assets/images/illustration-background.png');
    background-color: var(--ion-color-explore-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    min-height: 20rem;
}
.explore-header-button-container{
    overflow-y: scroll;
    white-space: nowrap;
    background-color: var(--ion-color-explore-background);

    width: 100%;
}
.explore-header-button{
    color: #000000;
    font-size: .8rem;
    font-weight: bold;

    display: inline-block;
    background-color: #ffffff;
    border-radius: 10rem;
    padding: 1rem 1rem;
    margin: 0rem .5rem;
}
.explore-header-icons{
    margin-right: .2rem;
    vertical-align: middle;
}
/* Title */
.explore-content{
    padding: 1.5rem;
}
.explore-content-title{
    font-weight: bold;
}
/* Images Scrollable */
.explore-content-images-container{
    overflow-y: scroll;
    white-space: nowrap;
    margin-top: 2rem;
}
.explore-content-title-margin{
    margin-top: 4rem;
}
.explore-location-images{
    width: 15rem;
    height: 15rem;
    margin-right: 1rem;
    display: inline-block;
    position: relative;
}
.explore-location-images-title{
    bottom: 0;
    left: 0%;
    padding-left: 1rem;
    width: 100%;
    position: absolute;
    background: linear-gradient(
        0deg,rgba(0,0,0,0.6) 0,rgba(0,0,0,0.6) calc(100% - 32px),rgba(0,0,0,0)
    );

}
.explore-location-images-title h1{
    font-weight: bold;
    color: #ffffff;
}
.explore-location-images-amsterdam{
    background-image: url('../../assets/images/location-assets-1.jpeg');
}
.explore-location-images-berlin{
    background-image: url('../../assets/images/location-assets-2.jpeg');
}
.explore-location-images-london{
    background-image: url('../../assets/images/location-assets-3.jpeg');
}
.explore-location-images-zermatt{
    background-image: url('../../assets/images/location-assets-4.jpeg');
}
.explore-location-images-antalya{
    background-image: url('../../assets/images/location-assets-5.jpeg');
}
.explore-location-images-barcelona{
    background-image: url('../../assets/images/location-assets-6.jpeg');
}
.explore-location-images-bath{
    background-image: url('../../assets/images/location-assets-7.jpeg');
}
.explore-location-images-brighton{
    background-image: url('../../assets/images/location-assets-8.jpeg');
}